<div class="flex gap-2 items-center">
  <h2 class="text-xl font-bold pl-0.5">Admins</h2>
  <%= link_to new_admin_invitation_path, class: 'p-2 text-sm rounded-md w-fit bg-sky-500 font-bold text-white flex items-center gap-2' do %>
    <i class="lni lni-plus "></i>
  <% end %>
</div>

<div class="w-full mt-20 rounded-md border divide-y">
  <%- @teams.each do |team| %>
    <div class="w-full p-4 flex gap-2 justify-between items-center">
      <div class="flex gap-2">
        <p><%= team.email %></p>
        <p class="text-gray-300"><%= team.role %></p>
      </div>
      <% if team.invitation_accepted_at %>
        <i class="lni lni-checkmark-circle text-sm text-green-500" title="Active"></i>
      <% else %>
        <i class="lni lni-checkmark-circle text-sm text-orange-300" title="Pending accepting invitation"></i>
      <% end %>
    </div>
  <% end %>
</div>
