<div class="w-full flex flex-col items-center justify-center text-sm mt-2">
  <%= image_tag "icons/level_#{@customer_progress.level + 1}.svg", class: 'w-20', alt: "Level #{@customer_progress.level + 1} badge" %>
</div>