<%- if @customer_progress.level < 4 %>
  <p class="text-sm text-gray-400"><%= 5 - @customer_progress.experience %> more check ins to next level</p>
<% else %>
  <p class="text-sm text-gray-400">Max Level</p>
<% end %>