<% content_for :back_to do %>
  <%= link_to clients_dashboards_qrs_path do %>
    <i class="lni lni-arrow-left text-2xl"></i>
  <% end %>
  <div class="col-span-3 flex items-center justify-center">QR Code Guide</div>
<% end %>

<div class="h-fit w-full mb-20">
  <div class="w-full p-4">
    <div class="flex gap-4 mx-auto w-full items-center justify-center">
      <div class="flex flex-col gap-2 items-center justify-center">
        <div class="text-sm w-6 h-6 bg-purple-500 rounded-full text-white flex items-center justify-center">
          1
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="w-16 h-1 border-t"></div>
      </div>
      <div class="flex flex-col gap-2 items-center justify-center">
        <div class="text-sm w-6 h-6 bg-purple-500 rounded-full text-white flex items-center justify-center">
          2
        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="w-16 h-1 border-t"></div>
      </div>
      <div class="flex flex-col gap-2 items-center justify-center">
        <div class="text-sm w-6 h-6 bg-purple-500 rounded-full text-white flex items-center justify-center">
          3
        </div>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-2 mx-auto mt-2 text-gray-400 text-sm">
      <div class="flex flex-col gap-2 items-center justify-start text-center">
        <p>Scan<br/>& Review</p>
      </div>
      <div class="flex flex-col gap-2 items-center justify-start text-center">
        <p>Become<br/>Regular</p>
      </div>
      <div class="flex flex-col gap-2 items-center justify-start text-center">
        <p>Earn<br/>Reward!</p>
      </div>
    </div>
  </div>

  <div class="w-fit mt-10 px-10 w-full text-gray-80 text-sm">
    <div class="border border-green-200 rounded-md p-4 w-full flex flex-col gap-4">
      <div class="flex gap-4">
        <div class="w-6 h-6 bg-white border border-purple-400 flex-none rounded-full mt-1">
          <div class="w-full h-full text-purple-600 flex items-center justify-center text-sm">
            1
          </div>
        </div>
        <p>User scan your QR code and review their experience.</p>
      </div>

      <div class="flex gap-4">
        <div class="w-6 h-6 bg-white border border-purple-400 flex-none rounded-full mt-1">
          <div class="w-full h-full text-purple-600 flex items-center justify-center text-sm">
            2
          </div>
        </div>
        <p>To earn reward, they have to regularly purchase at your store.</p>
      </div>

      <div class="flex gap-4">
        <div class="w-6 h-6 bg-white border border-purple-400 flex-none rounded-full mt-1">
          <div class="w-full h-full text-purple-600 flex items-center justify-center text-sm">
            3
          </div>
        </div>
        <p>Once enough level, they can collect rewards!</p>
      </div>
    </div>
  </div>

  <div class="mx-4 pl-1 my-10">
    <h1 class="text-lg text-gray-700 font-semibold">What is this?</h1>
    <div class="text-gray-500 mt-4 flex flex-col gap-4">
      <p>QR Code is quintessential in our ecosystem, and its the heart of your business.</p>

      <p>After customer make payment, you would show them the QR code.</p>

      <p>Given enough review, your customer will be leveled up and become a regular customer.</p>
    </div>

    <h1 class="text-lg text-gray-700 font-semibold mt-16">Is it enough?</h1>
    <div class="text-gray-500 mt-4 flex flex-col gap-4">
      <p>No, QR code & review alone is not enough.</p>

      <p>To perform better, you would provide an enticing rewards for the customer to keep coming.</p>

      <p>Our system provide that seamlessly.</p>

      <p>On the bright side, the more customer write reviews and become regular, the better
        your business will look like for new customer looking at our listings.</p>

      <p>In both case, it's a win for you and the customer!</p>
    </div>

    <h1 class="text-lg text-gray-700 font-semibold mt-16">How about spam?</h1>
    <div class="text-gray-500 mt-4 flex flex-col gap-4">
      <p>Every time your customer scan the QR code, we rotate the code on the spot</p>

      <p>You don't even have to refresh the screen, our smart system handle it automatically for you!</p>
    </div>

    <h1 class="text-lg text-gray-700 font-semibold mt-16">How to reward my customer?</h1>
    <div class="text-gray-500 mt-4 flex flex-col gap-4">
      <p>Simply head over to the homepage.</p>

      <p>You can then manage your rewards for your regular and loyal customers.</p>
    </div>
  </div>
</div>