<div class="w-full h-fit px-6 pt-6 pb-8 bg-white border rounded-2xl mt-20">
  <h2 class="text-lg font-semibold">Resend confirmation instructions?</h2>

  <%= form_for(resource, as: resource_name, url: dashboards_confirmations_path, html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <p class="mt-4">Be sure to check your spam box as well.</p>
    <%= f.hidden_field :email, value: (current_user.pending_reconfirmation? ? current_user.unconfirmed_email : current_user.email) %>

    <div class="actions mt-6">
      <button
        type="submit"
        class="px-3 py-2 bg-purple-600 rounded-md text-white">
        Resend
      </button>
    </div>
  <% end %>
</div>