<%- if devise_mapping.omniauthable? %>
  <div class="flex gap-2 items-center justify-center">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to omniauth_authorize_path(resource_name, provider), method: :post, data: { turbo: false },
                    class: 'border border-gray-300 px-4 py-3 flex items-center justify-between rounded-sm gap-4 fill-blue-400' do %>
        <%= image_tag "logos/#{omniauth_logo(provider)}", class: 'border-none drops-shadow-none shadow-none w-4 fill-blue-400', alt: 'Your Image' %>
        <p><%= "#{omniauth_name(provider)}" %></p>
      <% end %>
    <% end %>
  </div>
<% end %>
