<div class="relative w-screen h-screen  overflow-hidden">
  <div class="absolute w-full h-screen">
    <img src='/assets/mesh.png' class="overflow-hidden object-cover w-screen h-screen" alt="">
  </div>
  <div class="absolute w-full h-full mt-20 md:mt-32 px-4">
    <div class="w-full max-w-2xl mx-auto flex gap-10 items-center justify-center">
      <div class="w-full flex flex-col gap-4 p-10 md:p-16 rounded onboarding-glass">
        <h1 class="text-3xl md:text-4xl font-bold text-gray-700">Congratulations! 🎉</h1>
        <p class="text-gray-400 pl-1 ">Let's see your dashboard.</p>

        <div class="h-20"></div>
        <div class="flex flex-col w-full items-center gap-4">
          <%= link_to dashboards_path, class: 'px-6 py-4 rounded-md w-fit font-bold text-white flex items-center gap-4 bg-green-600'  do %>
            Go To Dashboard <i class="lni lni-arrow-right"></i>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>