<script async
        src="https://js.stripe.com/v3/buy-button.js">
</script>

<div class="w-full py-20 gap-4 px-4 text-center flex flex-col items-center text-white">
  <h1 class="text-5xl font-bold heading-gradient p-2">About Us</h1>
  <p class="text-gray-200 text-xl">Learn about our mission and where we come from.</p>
</div>

<div class="w-full flex flex-col px-10 gap-4 text-lg md:text-2xl max-w-2xl mx-auto text-left items-center mt-10">
  <p>Regülar is made by Malaysian Software Engineer, who is currently
    working and residing in Germany.</p>
  <p>With growing experience working in Malaysia and Germany, we would like
  to contribute back to our community.</p>

  <p>Initially Regülar was made to collect reviews, but after some research
  on our local community, getting closer to the heart, we believe we found the root problem.</p>

  <p class="mt-20 text-purple-500 text-4xl text-center">"SME Business are not leveraging DATABASE!"</p>
</div>

<div class="mt-20 md:mt-40 w-full flex flex-col px-10 gap-4 text-lg md:text-2xl max-w-2xl mx-auto text-left md:mt-10">
  <p>Working in Software, DATABASE is our lingua franca.</p>
  <p>We talk, we breath, we eat with database. There's even certification for that.</p>
  <p>But in a business, DATABASE can be a weird or unknown term.</p>
  <p>We are now, bringing this to you so you can talk, breath and eat with DATABASE as well.</p>
  <p>Just like us!</p>
</div>

<div class="mt-40 w-full flex flex-col px-10 gap-4 text-lg md:text-2xl max-w-2xl mx-auto text-left items-center mt-10">
  <p>With our growing knowledge in IT,
    scaling business with more than <a href="https://www.linkedin.com/in/zafranudin-zafrin/" class="text-purple-500 underline">1 million daily active users</a>,
    and experience in global market,</p>
  <p>We believe we can add Unique Value to you and your business, that can't be easily compete by anyone else.</p>
</div>

<div class="mt-40 w-full flex flex-col gap-4 text-lg md:text-2xl max-w-2xl mx-auto text-center items-center mt-10 px-10">
  <p>That's enough about us, our focus is YOU, our fellow Malaysian community.</p>
  <p class="text-purple-500">#sokonglokal #supportlocal</p>
</div>

