<script async
        src="https://js.stripe.com/v3/buy-button.js">
</script>

<div class="w-full py-20 gap-4 flex flex-col items-center text-center text-white">
  <h1 class="text-5xl font-bold heading-gradient p-2">Pricing</h1>
  <p class="text-gray-200 text-xl">Start investing in your business growth<br/>
    with the right tools.</p>
</div>

<div class="w-full py-10 gap-4 flex flex-col items-center text-center text-white mt-10">
  <p>Save 30% more with yearly subscription</p>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-2xl mx-auto px-20 md:px-0">

  <div class="bg-gray-300 p-10 text-gray-700 rounded-lg min-h-[400px] flex flex-col gap-4 justify-between">
    <div class="flex flex-col gap-4 items-center text-center">
      <h2 class="text-lg">Microenterprise</h2>
      <div class="flex gap-1 items-end align-text-bottom">
        <span class="text-xs font-light mb-1">RM</span>
        <p class="text-3xl font-bold">45.00</p>
        <span class="text-xs font-light mb-1">/month</span>
      </div>
      <p class="text-sm">
        Essential tools to start growing
        new business
      </p>
      <div class="flex flex-col w-full items-start text-sm">
        <p>+ General AI Model</p>
        <p>+ Collect customer reviews</p>
        <p>+ Essential discount and reward</p>
        <p>+ Basic insight and analysis</p>
        <p>+ Basic virtual loyalty card</p>
        <p>+ Weekly review analysis</p>
        <p>+ 7 days AI history retention</p>
      </div>
    </div>
    <div class="w-full">
      <a href="https://buy.stripe.com/test_4gwaGv5JR5u9fpm3cc"
         class="w-full flex items-center justify-center p-2 rounded-full
         bg-gray-200 text-gray-600
         hover:bg-gray-500 hover:text-white">
        Subscribe
      </a>
    </div>
  </div>

  <div
    style="background: linear-gradient(180deg, #9940D0 0%, #7513B1 100%);"
    class="relative border border-purple-500 border-2
    row-start-1 md:row-start-1 md:col-start-2
     text-white
     p-10 text-gray-800 rounded-lg min-h-[450px] flex flex-col gap-4 justify-between">
    <div class="absolute -right-6 top-8">
      <div class="px-2 py-2 rounded-full bg-green-500 text-white text-xs">
        Best Seller
      </div>
    </div>
    <div class="flex flex-col gap-4 items-center text-center">
      <h2 class="text-lg">SME Business</h2>
      <div class="flex gap-1 items-end align-text-bottom">
        <span class="text-xs font-light mb-1">RM</span>
        <p class="text-3xl font-bold">110.00</p>
        <span class="text-xs font-light mb-1">/month</span>
      </div>
      <p class="text-gray-200 text-sm">
        All advanced tools to grow your
        business to next level
      </p>
      <div class="flex flex-col w-full items-start justify-start text-sm wrap">
        <p>+ Powerful AI Model</p>
        <p>+ Advanced insight and analysis</p>
        <p>+ Targeted rewarding system</p>
        <p>+ Customisable virtual loyalty card</p>
        <p>+ Advanced marketing & rewarding</p>
        <p>+ Marketing moodboards</p>
        <p>+ 14 days AI response history</p>
        <p>+ Everything in Microenterprise</p>
      </div>
    </div>
    <div class="w-full">
      <a href="https://buy.stripe.com/test_14k01R4FNf4J7WU145"
         class="w-full
         border border-purple-400 border-2
         shadow-md
         flex items-center justify-center p-2 rounded-full bg-purple-400 text-white
         hover:bg-purple-700 hover:text-white hover:border-purple-300">
        Subscribe
      </a>
    </div>
  </div>
</div>

<div class="w-full flex flex-col text-center items-center mt-10">
  <p>You are free to cancel anytime.<br/>
    No question asked.</p>
</div>

<div class="w-full flex flex-col text-center items-center mt-10 text-gray-500 text-sm ">
  <p>*All price are excluding SST Tax.</p>
</div>

