<div id="bank_edit" class="flex flex-col gap-4 my-10 md:my-20">
  <div class="w-full h-fit grid grid-cols-2 md:grid-cols-3 gap-4 mx-auto px-10 md:px-0">
    <div class="flex flex-col gap-3">
      <%= link_to dashboards_qrs_reviews_path,
                  style: 'box-shadow: 0px 4px 10px rgba(131, 105, 221, 0.50);',
                  class: 'cursor-pointer order-2 py-4 md:py-0 md:order-4 w-full h-[140px] md:h-[200px] bg-gradient-to-l from-violet-500 to-indigo-500 rounded-2xl shadow flex flex-col items-center justify-center text-white gap-4' do %>
        <div class="w-20 md:w-32">
          <svg width="100%" height="88" viewBox="0 0 120 88" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M64.8999 70.8833C95.7452 69.4082 120 54.13 120 35.5C120 15.8939 93.1371 0 60 0C26.8629 0 0 15.8939 0 35.5C0 50.6272 15.9915 63.5446 38.5178 68.6569C39.1482 74.3821 38.1158 86.0183 29 88C29 88 35.5 88 45 84.5C51.8907 81.9613 60.623 74.6874 64.8999 70.8833Z" fill="white"/>
          </svg>

        </div>

        <p class="md:text-lg">Customer Review</p>
      <% end %>
    </div>

    <div class="flex flex-col gap-3">
      <%= link_to dashboards_qrs_bank_path,
                  style: 'box-shadow: 0px 4px 10px rgba(131, 105, 221, 0.50);',
                  class: 'cursor-pointer order-2 py-4 md:py-0 md:order-4 w-full h-[140px] md:h-[200px] bg-gradient-to-l from-violet-500 to-indigo-500 rounded-2xl shadow flex flex-col items-center justify-center text-white gap-4' do %>
        <div class="w-20 md:w-32">
          <svg width="100%" viewBox="0 0 155 114" xmlns="http://www.w3.org/2000/svg" class="fill-gray-100 stroke-gray-100">
            <path d="M5 109H150M11 97H132M145 97H132M132 97V38M101.5 97V38M28 97C28 73.1193 28 61.8807 28 38M59.5 97C59.5 73.1193 59.5 61.8807 59.5 38" stroke-width="10" stroke-linecap="round"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0014 35.3868H141.359C142.415 35.3868 142.75 33.9643 141.807 33.4924L79.033 2.10557C78.7569 1.96753 78.4325 1.96472 78.1541 2.09797L12.5698 33.4848C11.6094 33.9443 11.9368 35.3868 13.0014 35.3868ZM78.0954 32.8868C84.1705 32.8868 89.0954 27.9619 89.0954 21.8868C89.0954 15.8116 84.1705 10.8868 78.0954 10.8868C72.0202 10.8868 67.0954 15.8116 67.0954 21.8868C67.0954 27.9619 72.0202 32.8868 78.0954 32.8868Z" />
            <path d="M141.807 33.4924L142.701 31.7035L142.701 31.7035L141.807 33.4924ZM79.033 2.10557L79.9274 0.316719L79.9274 0.316717L79.033 2.10557ZM78.1541 2.09797L79.0174 3.90202L79.0174 3.90202L78.1541 2.09797ZM12.5698 33.4848L11.7064 31.6807L11.7064 31.6807L12.5698 33.4848ZM141.359 33.3868H13.0014V37.3868H141.359V33.3868ZM140.912 35.2812C139.968 34.8093 140.304 33.3868 141.359 33.3868V37.3868C144.525 37.3868 145.532 33.1193 142.701 31.7035L140.912 35.2812ZM78.1385 3.89443L140.912 35.2812L142.701 31.7035L79.9274 0.316719L78.1385 3.89443ZM79.0174 3.90202C78.739 4.03528 78.4146 4.03247 78.1385 3.89443L79.9274 0.316717C79.0991 -0.0974119 78.126 -0.105837 77.2907 0.293926L79.0174 3.90202ZM13.4331 35.2888L79.0174 3.90202L77.2907 0.293924L11.7064 31.6807L13.4331 35.2888ZM13.0014 33.3868C14.066 33.3868 14.3935 34.8292 13.4331 35.2888L11.7064 31.6807C8.8254 33.0595 9.80758 37.3868 13.0014 37.3868V33.3868ZM87.0954 21.8868C87.0954 26.8573 83.0659 30.8868 78.0954 30.8868V34.8868C85.2751 34.8868 91.0954 29.0665 91.0954 21.8868H87.0954ZM78.0954 12.8868C83.0659 12.8868 87.0954 16.9162 87.0954 21.8868H91.0954C91.0954 14.7071 85.2751 8.88678 78.0954 8.88678V12.8868ZM69.0954 21.8868C69.0954 16.9162 73.1248 12.8868 78.0954 12.8868V8.88678C70.9157 8.88678 65.0954 14.7071 65.0954 21.8868H69.0954ZM78.0954 30.8868C73.1248 30.8868 69.0954 26.8573 69.0954 21.8868H65.0954C65.0954 29.0665 70.9157 34.8868 78.0954 34.8868V30.8868Z" />
          </svg>
        </div>

        <p class="md:text-lg">Direct Transfer</p>
      <% end %>

      <%= link_to edit_dashboards_qrs_bank_path, class: 'w-full h-fit py-3 md:py-4 flex items-center justify-center border rounded-xl order-4 text-white bg-green-500' do %>
        Manage
      <% end %>
    </div>
  </div>
</div>