<div class="absolute inset-0 w-full h-fit flex justify-center z-10 bg-white border-b">
  <%= link_to 'Regülar Database', business_root_path, class: 'p-4 w-full flex items-center justify-center' %>
</div>