<div class="flex flex-col gap-4 my-10 md:my-20 px-10 md:px-0">

<div>
    <h2 class="text-xl font-bold pl-0.5">Rewards</h2>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4">
      <div class="bg-gradient-to-br from-green-600 to-green-500 text-white w-full h-[100px] rounded-2xl p-4 text-lg flex flex-col justify-end">
        Referral Bonus
      </div>
      <div class="bg-gradient-to-br from-green-600 to-green-500 text-white w-full h-[100px] rounded-2xl p-4 text-lg flex flex-col justify-end">
        Loyalty Points
      </div>
      <div class="bg-gradient-to-br from-green-600 to-green-500 text-white w-full h-[100px] rounded-2xl p-4 text-lg flex flex-col justify-end">
        Discounts
      </div>
      <div class="bg-white text-gray-500 border w-full h-[100px] rounded-2xl p-4 text-lg flex flex-col justify-end">
        Birthday Offers
      </div>
    </div>
    <div class="h-20"></div>
  </div>
</div>
