<div class="flex flex-col gap-4 my-10 md:my-20 px-10 md:px-0">

  <div>
    <h2 class="text-xl font-bold pl-0.5">Rewards</h2>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4">
      <%= link_to @discounts.present? ? edit_dashboards_reward_discount_path : new_dashboards_reward_discount_path, class: 'bg-gradient-to-br from-green-600 to-green-500 text-white w-full h-[100px] rounded-2xl p-4 text-lg flex flex-col justify-end' do %>
        Discounts
      <% end %>
    </div>

    <div class="text-sm text-gray-500 flex flex-col gap-4 mt-10 bg-white p-10 border rounded-lg">
      <h2 class="text-gray-800 text-lg">How it works</h2>
      <div>
        <p>Give your regular customer rewards and benefits!</p>
        <p>Regular customer are more likely to repeat their order with you when there are benefits.</p>
      </div>

      <div>
        <p>This rewards will be shown to logged in customer when they are writing reviews.</p>
        <p>Give them strong urges to write better constructive feedback.</p>
      </div>
    </div>
    <div class="h-20"></div>
  </div>
</div>
