<% content_for :back_to do %>
  <div class="w-full hidden pwa:flex">
    <%= link_to clients_dashboards_reward_path do %>
      <i class="lni lni-arrow-left text-2xl"></i>
    <% end %>
  </div>
  <div class="col-span-3 flex items-center justify-center">General Discount</div>
<% end %>

<div
  data-controller="dashboard--reward"
  id="account_edit"
  class="w-full h-fit grid grid-cols-2 md:grid-cols-3 gap-4 mx-auto px-4 md:px-0 mt-4">
  <div class="col-span-2 md:col-span-1">
  <%= render partial: 'clients/dashboards/rewards/discounts/preview', locals: {
    model: @reward
  } %>
  </div>

  <div
    class="order-2 md:order-1 w-full col-span-2 rounded-2xl p-6 flex flex-col justify-start gap-2 bg-[#4CA2C7] rounded-[20px] shadow text-white">
    <div class="flex flex-col space-between h-full">
      <%= render partial: 'clients/dashboards/rewards/discounts/form', locals: {
        model: @reward,
        url: clients_dashboards_reward_discount_path,
        method: :post
      } %>
    </div>
  </div>
</div>

<%= render 'clients/dashboards/rewards/discounts/how' %>