<div class="p-10 md:max-w-2xl mx-auto mt-20">
  <div class="border rounded-xl bg-white w-full h-fit p-10 flex flex-col items-center justify-center gap-10">
    <%= image_tag 'undraw/error_internal.svg', class: 'opacity-30 md:w-80', alt: 'QR Code' %>
    <div class="flex flex-col gap-4 items-center justify-center text-center">
      <h1 class="text-gray-600 text-lg font-bold">Something Went Wrong</h1>
      <p class="text-gray-600">Take a screenshot of this page, and share to me at <a href="https://twitter.com/MohdZafranudin" target="_blank" class="text-purple-600">@MohdZafranudin</a>.</p>
      <div class="w-fit bg-orange-300 p-4 rounded-md text-white">
        <p><%= request.uuid %></p>
      </div>
      <%= link_to 'Regülar', root_path, class: 'text-gray-400' %>
    </div>
  </div>

</div>
