<div class="p-10 md:max-w-2xl mx-auto mt-20">
  <div class="border rounded-xl bg-white w-full h-fit p-10 flex flex-col items-center justify-center gap-10">
    <%= image_tag 'undraw/error_not_found.svg', class: 'opacity-30 md:w-80', alt: 'QR Code' %>
    <div class="flex flex-col gap-4 items-center justify-center">
      <h1 class="text-gray-600 text-lg font-bold">Not Found</h1>
      <p class="text-gray-600">Page you're looking for doesn't exist.</p>
      <%= link_to 'Regülar',customer_root_path, class: 'text-gray-400' %>
    </div>
  </div>

</div>
