<div class="mx-auto max-w-2xl border rounded-2xl p-10 my-20">
  <div name="termly-embed" data-id="ed71d2c7-4c4b-41ad-af53-76fe7550a639"></div>
  <script type="text/javascript">(function(d, s, id) {
        var js, tjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://app.termly.io/embed-policy.min.js";
        tjs.parentNode.insertBefore(js, tjs);
  }(document, 'script', 'termly-jssdk'));</script>
</div>