<div class="min-h-screen py-20">
  <%= render 'shared/navbar' %>
  <div class="mx-10 md:mx-auto max-w-4xl border rounded-2xl p-4 md:p-10 my-20 bg-white">
    <div name="termly-embed" data-id="e807d6db-aa1e-4db6-bba8-a9994133c013"></div>
    <script type="text/javascript">(function (d, s, id) {
        var js, tjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://app.termly.io/embed-policy.min.js";
        tjs.parentNode.insertBefore(js, tjs);
    }(document, 'script', 'termly-jssdk'));</script>
  </div>
</div>