<div class="mx-10 max-w-2xl mx-auto">
  <div class="w-full border p-10 whitespace-pre-line break-words">
    3 minit daripada masa tuan/puan untuk potensi kembangkan bisnes Muiz Hot Chicken.

    “Berapa ramai pelanggan tetap yang saya ada?”

    “Apa ganjaran untuk pelanggan tetap Muiz Hot Chicken?”

    “Bagaimana nak raih lebih ramai lagi pelanggan tetap?”

    Assalamualaikum & salam sejahtera

    Pertamanya, kami…

    - Bukan food delivery.
    - Bukan Gr*b. Bukan FoodP*nda. Bukan MisiRaky*t.
    - Kami hanya melengkapi ekosistem sedia ada.

    Memperkenalkan sistem baharu “Regülar”. Konsepnya sangat mudah, tetapi memberi impak yang menyeluruh untuk Muiz Hot Chicken.

    https://business.regeular.io

    Caranya?

    1. Tunjukkan QR Code
    2. Pelanggan tulis review
    3. Jadi pelanggan tetap
    4. Dapatkan ganjaran dari kedai tuan/puan sebagai “regeular customer”.

    Tidak sampai 1 minit, Muiz Hot Chicken dapat raih pelanggan beserta review mereka.

    Kata kunci utama?
    “Pelanggan Tetap”. “Regular Customers”

    Dengan sistem ini, pelanggan tetap menjadi marketing partner bisnes Muiz Hot Chicken yang terbaik!  Inilah strategi marketing paling organik dengan kos yang lebih rendah.

    “Lebih ramai pembeli baru akan percaya bisnes yang sudah ada pelanggan tetap”

    “Pelanggan tetap = berita gembira untuk bisnes!”

    Bagaimana harganya?

    Sistem ini baharu, dan percuma buat masa ini jadi tidak rugi untuk Muiz Hot Chicken cuba terlebih dahulu.

    Sebarang feedback untuk tambahbaik sistem ini juga akan kami segera laksanakan, jadi tuan/puan secara tidak langsung jadi sebahagian daripada proses pembangunan sistem ini.

    Saya Zafranudin, dari Melaka sekarang bekerja sebagai Software Engineer dan menetap di Germany dengan harapan ilmu ini saya dapat bantu membangunkan ekonomi negara kita semula.

    Saya pulangkan semula 2 minit tuan/puan. Nampak menarik? Tuan/puan boleh balas mesej ini atau saya boleh booking slot untuk cuba terangkan apa yang kami cuba selesaikan.

    Terima Kasih,

    Zafranudin Zafrin, Rakyat Malaysia
  </div>
</div>