<div class="w-full px-10 md:px-0">
  <div class="w-full h-fit p-10 pb-14 bg-white border rounded-2xl mt-20 flex flex-col gap-4">
    <%- if @sent_at.present? && @sent_at + 2.minutes < Time.zone.now %>
      <h2 class="text-lg font-semibold">Resend confirmation instructions?</h2>

      <p class="mt-4">Be sure to check your spam box as well.</p>
      <%= button_to 'Resend', dashboards_confirmation_path, class: 'px-3 py-2 bg-purple-600 rounded-md text-white' %>
    <% else %>
      <div class="flex flex-col items-center justify-center p-10 gap-4">
        <p>Please wait 2 minutes before sending again.</p>
      </div>
    <% end %>
  </div>
</div>