<div class="flex flex-col w-full items-center px-10 gap-2 text-gray-500 text-center">
  <%- if @rewards.present? %>
    <%- unless customer_signed_in? %>
      <p>Wait, this merchant has rewards! 👀</p>
      <p>Quickly sign in to unlock and potentially claim merchant's rewards.</p>
    <% else %>
      <%- @rewards.each do |reward| %>
        <p>1. Earn discount of <%= reward_name(reward) %> off when you become regular customer for every 5 receipts.</p>
      <% end %>
    <% end %>
  <% end %>
</div>
