<script async
        src="https://js.stripe.com/v3/buy-button.js">
</script>

<div class="grid grid-cols-2 gap-4 max-w-2xl mx-auto mt-20">
  <div class="">
    <p>Microenterprise</p>
    <p>RM 45.00</p>
    <stripe-buy-button
      buy-button-id="buy_btn_1OEDspCr425SsHOJGuhUVG0I"
      publishable-key="pk_test_51O7obnCr425SsHOJ5v2saczM4Je4Lj7a7H5eiu89aTrgK4FbFKSyGuNMn12AgrHdZ9UWviS1PFutHOe8GG2VAUi5009k0doqnd"
    >
    </stripe-buy-button>
  </div>

  <div class="">
    <p>SME Business</p>

    <p>RM 110.00</p>
    <stripe-buy-button
      buy-button-id="buy_btn_1OEGMhCr425SsHOJXYbee8VZ"
      publishable-key="pk_test_51O7obnCr425SsHOJ5v2saczM4Je4Lj7a7H5eiu89aTrgK4FbFKSyGuNMn12AgrHdZ9UWviS1PFutHOe8GG2VAUi5009k0doqnd"
    >
    </stripe-buy-button>
  </div>
</div>
